@import "~resources/style/mixin.global";

.avatar {
  @include no-drag;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, .08);
  border-radius: 51%;
  overflow: hidden;

  & > img {
    width: 100%;
    height: 100%;
  }
}