.project_tree {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);

  .project_title {
    height: 30px;
    font-size: 12px;
    color: white;
    font-weight: lighter;
    padding: 5px;
    display: flex;
    align-items: center;
  }

  .project_content {

  }

  .project_footer {
    position: absolute;

    bottom: 0;
    height: 30px;
    width: 100%;
    background: #333544;

  }
}

.project_manage_tools {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: #999999;
  button  {
    margin-left: 35px;
  }
  button.mk_file_btn {
  }
  button.mk_dir_btn {

  }
  button.delete_btn {
    margin-right: 10px;
  }
}