@import "~resources/style/mixin.global";

.help {
  width: 100%;
  height: 100%;

  .header_navigation {
    height: 50px;
    width: calc(100% - 250px);
    display: flex;
    @include drag;

    .menu_wrapper {
      width: 250px;
      flex-basis: 250px;
    }
  }
  .content {
    display: flex;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
  }
}