@import "~resources/style/mixin.global.scss";

.code_editor {
  background: $background-color;

  .header_navigation {
    height: 50px;
    width: 100%;
  }

  .content {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;

    .file_manager_panel {
      flex-basis: 200px;
    }

    .code_panel {
      flex: 1;

    }

  }

}