/*$background-color: #333544;*/
@import "../../resources/style/mixin.global.css";

html, body {
  height: 100%;
  margin: 0 auto;
  background: #333544;
}

.app {
  height: 100%;
  display: flex;
}

.navigation_wrapper {
  flex-basis: 60px;
}

.page_wrapper {
  flex: 1;
}