@import "~resources/style/mixin.global";

.control_button_group {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 45px;
  height: 11px;
  top: 10px;
  left: 10px;

  & > button {
    @include no-drag;
    width: 11px;
    height: 11px;
    border-radius: 51%;
    transition: .2s background;

    &:hover, &:active {
      cursor: pointer;
    }

    &:nth-child(1) {
      background: #6C0AAB;

      &:hover, &:active {
        background: #9A3FD5;
      }
    }

    &:nth-child(2) {
      background: gray;

      &:hover, &:active {
        background: gray;
      }
    }

    &:nth-child(3) {
      background: gray;

      &:hover, &:active {
        background: gray;
      }
    }
  }
}