.login {
  width: 250px;
  height: 250px;
  margin: 50px auto 0 auto;

  .avatar_wrapper {
    display: flex;
    justify-content: center;
  }

  .input_wrapper {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;

    .input {
      width: 200px;
      height: 26px;
      position: relative;

      input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: rgba(0, 0, 0, .3);
        box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
        border-radius: 4px;
        padding-left: 5px;
        color: #999999;
        font-size: 12px;
      }

      span {
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .login_btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
      font-size: 12px;
      height: 24px;
      width: 200px;
      background: #9A3FD5;
      color: white;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, .1);
      transition: .5s ease-in-out;

      &:hover, &:active {
        span {
          left: 10px;
        }
      }

      span {
        position: relative;
        left: 3px;
        transition: .5s ease-in-out;
      }
    }
  }
}