.register {
  width: 250px;
  margin: 20px auto 0 auto;

  .avatar_wrapper {
    display: flex;
    justify-content: center;
  }

  .input_wrapper {
    .input {
      position: relative;
      width: 200px;
      margin: 10px auto 0 auto;

      span {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        color: #999999;
        font-size: 10px;

      }

      input {
        width: 200px;
        height: 28px;
        border-radius: 3px;
        background: rgba(0, 0, 0, .2);
        outline: none;
        border: none;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
        box-sizing: border-box;
        padding-left: 25px;
        color: #cccccc;
        font-size: 14px;
      }

      &.error {
        animation: vertical-shake .5s 1 ease-out;
        input {
          border: 1px solid darkred;
        }
      }
    }
  }

  .register_btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    button {
      height: 24px;
      width: 200px;
      border-radius: 3px;
      background: royalblue;
      font-size: 12px;
      color: white;
      box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    }
  }

  .login_btn {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: #999999;
    font-size: 12px;
  }
}

@keyframes vertical-shake {
  0% {
    left: 0;
  }
  25% {
    left: 10px;
  }
  50% {
    left: 0;
  }
  75% {
    left: -10px;
  }
  100% {
    left: 0;
  }
}