@import "~resources/style/reset.global";
@import "~resources/style/mixin.global";

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .header {
    @include drag;
    height: 30px;
  }

  .content {
    height: calc(100% - 30px);
    width: 100%;
    box-sizing: border-box;
    padding: 30px 10px 10px 10px;

    .avatar_wrapper {

      display: flex;
      justify-content: center;
    }

    .info_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;

      .input {
        position: relative;
        width: 200px;
        height: 28px;
        color: #dddddd;
        margin-top: 20px;

        &.edit {
          &::before {
            width: 100%;
          }

          input {
            color: #dddddd;
          }

          button {
            color: #f07178;
          }
        }

        &::before {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          display: block;
          width: 0;
          height: 2px;
          background: #999999;
          transition: .3s;
        }

        input {
          position: relative;
          outline: none;
          border: none;
          background: transparent;
          color: #dddddd;
          width: 100%;
          height: 100%;
          padding-left: 10px;
          box-sizing: border-box;
          font-size: 14px;
          transition: .3s;
        }

        button {
          position: absolute;
          top: 50%;
          right: -25px;
          transform: translateY(-50%);
          color: #999999;
        }
      }
    }

    .logout_wrapper {
      height: 24px;
      width: 180px;
      margin: 30px auto;
      font-size: 14px;

      button {
        width: 100%;
        height: 100%;
        color: white;
        background: gray;
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
        border-radius: 3px;
      }
    }
  }

}