@import "../../../../resources/style/mixin.global.css";

.control_button_group {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 45px;
  height: 11px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.control_button_group  button {
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  width: 11px;
  height: 11px;
  border-radius: 51%;
  transition: .2s background;

}
.control_button_group  button:hover,
.control_button_group  button:active {
  cursor: pointer;
}
.control_button_group  button:nth-child(1) {
  background: #6C0AAB;
}
.control_button_group  button:nth-child(1):hover,
.control_button_group  button:nth-child(1):active {
  background: #9A3FD5;
}

.control_button_group  button:nth-child(2) {
  background: #FF7400;
}
.control_button_group  button:nth-child(2):hover,
.control_button_group  button:nth-child(2):active {
  background: #FF7E40;
}

.control_button_group  button:nth-child(3) {
  background: #DE0052;
}
.control_button_group  button:nth-child(3):hover,
.control_button_group  button:nth-child(3):active {
  background: #F83E5B;
}