@import "../../../../resources/style/mixin.global.css";
@import "../../../../resources/style/icon.global.css";

.navigation {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    position: relative;
    height: 100%;
    width: 60px;
    background: #313341;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .1);
}


.setting_btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: white;
}

.header_navigation {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    width: 250px;
    height: 50px;

}

.right_content {
    float: right;
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}

.right_content .tools_bar {
    display: flex;
    color: #999999;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}

.right_content .avatar_wrapper {
    -webkit-app-region: no-drag;
}

.right_content .tools_bar button {
    -webkit-app-region: no-drag;
    transition: .3s;
}
.right_content .tools_bar button:hover,
.right_content .tools_bar button:active {
    color: #FF5370;
}