@import "~resources/style/mixin.global";

.control_button_group {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 45px;
  height: 11px;
  top: 10px;
  left: 10px;

  & > button {
    @include no-drag;
    width: 11px;
    height: 11px;
    border-radius: 51%;
    transition: .2s background;

    &.disable {
      background: gray !important;
      &:hover, &:active {
        background: gray !important;
      }
    }

    &:hover, &:active {
      cursor: pointer;
    }

    &:nth-child(1) {
      background: #6C0AAB;


      &:hover, &:active {
        background: #9A3FD5;
      }
    }

    &:nth-child(2) {
      background: #FF7400;

      &:hover, &:active {
        background: #FF7E40;
      }
    }

    &:nth-child(3) {
      background: #DE0052;

      &:hover, &:active {
        background: #F83E5B;
      }
    }
  }
}


.avatar {
  @include no-drag;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, .08);
  border-radius: 51%;
  overflow: hidden;

  & > img {
    width: 100%;
    height: 100%;
  }
}