.components_panel {
  width: 100%;
  height: 100%;

  .components {
    width: 100%;
    height: calc(100% - 30px);
    background: rgba(0, 0, 0, .1);

    .ui_page_wrapper {
      width: 100%;
      height: 28px;
    }
  }

  .status_bar {
    position: relative;
    height: 30px;
    width: 100%;
  }
}

/* ---ui page store--- */
.ui_page_store {
  position: relative;
  height: 28px;
  background: #313341;
  border-left: none;
  border-right: none;
  color: #999999;
  font-size: 14px;

  & > .current_ui_page {
    height: 100%;
    width: 100%;
    text-align: left;
    text-indent: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;

    input {
      background: transparent;
      height: 100%;
      color: #999999;
      font-size: 14px;
      box-shadow: none;
      flex: 4;
      padding-left: 5px;
      box-sizing: border-box;
      transition: .2s;

      &.active {
        background: rgba(0, 0, 0, .1);
        box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
      }
    }

    span {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }

  .ui_page_search_panel {
    position: absolute;
    width: 90%;
    min-height: 100px;
    min-width: 200px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 2px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    top: 40px;
    z-index: 100;

    &.show {
      visibility: visible;
      opacity: 1;
      top: 30px;
    }


    .search {
      display: flex;
      justify-content: space-around;
      font-size: 12px;
      color: #333544;
      box-sizing: border-box;
      padding: 0 10px;


      input {
        display: block;
        height: 24px;
        width: 80%;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 4px;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, .1);
        color: #333544;
        background: rgba(0, 0, 0, .03);
        padding-left: 5px;
      }

      button {

      }
    }


    .ui_page_result {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      max-height: 300px;
      margin-top: 10px;

      .no_data {
        width: 100%;
        text-align: center;
        margin: 15px auto 0 auto;
      }

      .loading {
        width: 100%;
        text-align: center;
        margin: 15px auto 0 auto;
      }

      .result_item {
        height: 26px;
        color: #999999;
        line-height: 26px;
        padding: 0 10px;
        box-sizing: border-box;

        &:hover {
          background: rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }

        span {
          color: #C792EA;
          margin-right: 5px;
        }
      }
    }
  }


}


.new_page_button, .delete_page_button {
  position: absolute;
  left: 50%;
  top: -28px;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  color: #999999;
  overflow: hidden;
  border-radius: 50%;
  background: #333544;
  font-size: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);

  button {
    width: 100%;
    height: 100%;
  }
}

.delete_page_button {
  left: 100%;
  transform: translateX(-120%);
}

