.components_panel {
  width: 100%;
  height: 100%;

  .components {
    width: 100%;
    height: calc(100% - 30px);
    background: rgba(0, 0, 0, .1);

    .ui_page_wrapper {
      width: 100%;
      height: 28px;
    }
  }

  .status_bar {
    position: relative;
    height: 30px;
    width: 100%;
  }
}

/* ---ui page store--- */
.ui_page_store {
  position: relative;
  height: 28px;
  background: #313341;
  border-left: none;
  border-right: none;
  color: white;
  font-size: 12px;

  & > button {
    height: 100%;
    width: 100%;
    text-align: left;
    text-indent: 10px;

    span {
      float: right;
      margin-right: 10px;
      color: brown;
    }
  }

  .ui_page_search_panel {
    position: absolute;
    width: 90%;
    min-height: 100px;
    min-width: 200px;
    background: #313341;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 0;
    box-sizing: border-box;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    top: 40px;
    z-index: 100;

    &.show {
      visibility: visible;
      opacity: 1;
      top: 30px;
    }


    .search {
      display: flex;
      justify-content: space-around;
      font-size: 12px;
      color: #999999;
      box-sizing: border-box;
      padding: 0 10px;


      input {
        display: block;
        height: 24px;
        width: 80%;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 4px;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, .2);
        color: #dddddd;
        background: rgba(0, 0, 0, .05);
        padding-left: 5px;
      }

      button {

      }
    }


    .ui_page_result {
      box-sizing: border-box;
      width: 100%;
      max-height: 300px;
      margin-top: 10px;

      .result_item {
        height: 26px;
        color: #999999;
        line-height: 26px;
        padding: 0 10px;
        box-sizing: border-box;

        &:hover {
          background: rgba(255, 255, 255, 0.1);
          cursor: pointer;
        }

        span {
          color: green;
          margin-right: 5px;
        }
      }
    }
  }


}


.new_page_button {
  position: absolute;
  left: 50%;
  top: -28px;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  color: #999999;
  overflow: hidden;
  border-radius: 50%;
  background: #333544;
  font-size: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);

  &:hover, &:active {
    cursor: pointer;

  }

  button {
    width: 100%;
    height: 100%;
  }
}

