@import "~resources/style/mixin.global.scss";
.run_tools {

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 50px;
  color: #999999;
  font-size: 12px;
  .label {

  }
  .tools {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  button {
    @include no-drag;
  }
  .build_btn {
    color: #FF5370;
  }
  .run_btn {
    color: forestgreen;
  }
  .export_btn {
    color: #6C0AAB;
  }
}

.run_tools .label {

}

.run_tools .tools {
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
