@import "~resources/style/mixin.global.scss";
@import "~resources/style/icon.global.scss";

.navigation {
  @include drag;

  position: relative;
  height: 100%;
  width: $navigation-width;
  background: $navigation-background-color;

  .setting_btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: white;
  }
}

