@import "~resources/style/icon.global.scss";
@import "~resources/style/mixin.global.scss";

.menu_item {
  @include content-center;

  width: 32px;
  height: 32px;
  font-size: 16px;
  color: #999999;
  margin: 5px 0;
  transition: ease-in-out .2s;
  cursor: pointer;

  &.active {
    &:nth-child(1) {
      color: fuchsia;
    }

    &:nth-child(2) {
      color: #FFCC00;
    }

    &:nth-child(3) {
      color: #F83E5B;
    }

    &:nth-child(4) {
      color: chartreuse;
    }
  }
}

.menu {
  position: absolute;
  top: 50%;
  display: flex;

  width: 100%;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);

}