@import "~resources/style/mixin.global.scss";
@import "~resources/style/icon.global.scss";
.header_navigation {
  @include drag;

  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  width: 250px;
  height: $header-navigation-height;

  .right_content {
    float: right;
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;

    .tools_bar {
      display: flex;
      color: #999999;
      font-size: 16px;
      align-items: center;
      justify-content: space-around;
      width: 150px;
    }

    .avatar_wrapper {
      @include no-drag;
    }

    .tools_bar button {
      @include no-drag;
      transition: .3s;

      &:hover, &:active {
        color: #FF5370;
      }
    }
  }

}
