.run_tools {

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 50px;
    color: #999999;
    font-size: 12px;
}

.run_tools .label {

}

.run_tools .tools {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.run_tools button {
    -webkit-app-region: no-drag;
}

.run_tools .build_btn {
    color: #FF5370;
}
.run_tools .run_btn {
    color: forestgreen;
}
.run_tools .export_btn {
    color: #6C0AAB;
}
