.folder {
  min-height: 24px;
  font-size: 12px;
  color: #999999;

  & > button {
    width: 100%;
    text-align: left;
    text-indent: 10px;
    height: 24px;

    &:hover, &.active {
      background: rgba(255, 255, 255, .1);
    }

    & > span {
      margin-right: 5px;
      color: #C792EA;
    }
  }

  .folder_files {
    display: block;

    &.hidden {
      display: none;
    }
  }
}

.file {
  width: 100%;
  height: 24px;
  color: #999999;
  font-size: 12px;
  text-align: left;
  text-indent: 10px;


  &:hover, &.active {
    background: rgba(255, 255, 255, .1);
  }

  & > span {
    margin-right: 5px;
    color: #dd4444;
  }
}

.new_file_or_folder_modal {
  width: 300px;
  height: 150px;
  color: #999999;

  .title {
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    font-size: 14px;
  }

  .content {
    height: calc(100% - 60px);
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;

    input {
      width: 200px;
      height: 24px;
      font-size: 12px;
      border: none;
      outline: none;
      color: #999999;
      padding-left: 5px;
      background: rgba(0, 0, 0, .1);
      box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
      border-radius: 3px;
    }
  }

  .footer {
    height: 30px;
    display: flex;
    justify-content: space-around;

    button {
      width: 100px;
      height: 24px;
      font-size: 12px;
      color: #999999;
      background: #333544;
      box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    }
  }
}