.dsl_code_editor {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .editor_status_bar {
    height: 30px;
  }

  .code_mirror_wrapper {
    height: calc(100% - 30px);
    overflow: hidden;
  }

}
