.empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: rgba(0, 0, 0, .2);
  font-weight: bold;
  text-align: center;
  line-height: 2;
  h3 {
    font-size: 35px
  }
}